router.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://router.home
}

modem.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://modem.home
}

dash.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://nas.home:7575
}

nas-dashdot.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://nas.home:3002
}

squeezeboxserver.{$MY_DOMAIN}, music.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://nas.home:9000
}

cockpit.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://nas.home:9091
}

portainer.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy http://nas.home:9100
}

ha.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy /* {
        to http://homeassistant.home:8123
    }
}

phole.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy /* {
        to http://pi.hole
    }
}

nodered.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy /* {
        to http://homeassistant.home:1880
    }
}

grafana.{$MY_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy /* {
        to http://grafana.home:3030
    }
}